<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>orla</display-name>
    <servlet>
        <servlet-name>EventsByDay</servlet-name>
        <servlet-class>endafarrell.orla.api.home.events.EventsByDayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventsByDay</servlet-name>
        <url-pattern>/api/home/events/byDay</url-pattern>
    </servlet-mapping>
</web-app>
